body {
    background: #161616 url('https://external-preview.redd.it/uwRjDwTQzZiLgSIBjD6lk9CGbkRADomZsDhib5t0ZBw.jpg?auto=webp&s=ddd6bdb8edcf211c45a36b1039776d1d4eb24685') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    cursor: crosshair;
}

h1 {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}

audio {
    display: none;
}

#iframeAudio {
    display: none;
}

#loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    overflow: visible;
    background: #000 url('./spinner.gif') no-repeat center center;
}

.wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#ball {
    width: 60px;
    height: 60px;
    background: none;
    border: 1px solid grey;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
    pointer-events: none;
    display: none;
}

#score {
    width: 100%;
    height: 50px;
    padding: 20px;
    font-family: Arial;
}

#options {
    position: absolute;
    background: #000;
    z-index: 9999;
    opacity: 0.5;
    display: none;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#options .content {
    background: transparent;
    width: 100%;
    height: 100vh;
}

.content h1 {
    color: #fff !important;
    z-index: 9999;
}

.content button {
    position: absolute;
    top: 55%;
    left: 48%;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s ease-in; 
}

.content button:hover {
    color: #8dd9ff;
    border: 1px solid #8dd9ff;
}

.enemies1 {
    width: 50px;
    height: 50px;
    background: transparent url('../assets/Red_Bomb_.png') no-repeat center center;
    position: absolute;
    display: none;
    z-index: 9999 !important;
}
